#our-clients {
  @include make-row();
  height: 500px;
  background-color: $section-background-grey;
  @include media-breakpoint-down(xs) {
    height: auto;
  }
}

#our-clients div .section-title {
  @include media-breakpoint-down(sm) {
    margin: 4rem auto;
  }
}

.client-logos {
  display: flex;
  width: 100%;
  height: auto;
  margin-top: 5rem;
  @include media-breakpoint-down(md) {
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 3rem;
  }
}

.client-logo:nth-child(3) {
 position: relative;
}

.client-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin: 0rem 1rem;
  align-items: center;
  @include media-breakpoint-down(md) {
    width: 50%;
    margin: 2rem 0;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin: 2rem 0;
    height: auto;
  }
}

.client-logo img {
  max-width: 100%;
  height: auto;
}

.client-logo:nth-child(3) img {
  position: relative;
  top: 15px;
  left: 30px;
}

.client-logo:nth-child(4) img {
  position: relative;
  top: -10px;
}