* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Avenir";
  font-size: 14px;
}

h1, h2 {
  font-size: 44px;
}

h3, h4 {
  font-size: 24px;
}

h1 {
  font-family: "Avenir-Black";
  letter-spacing: 0.5rem;
  color: $title-light;
}

h2 {
  font-family: "Avenir-Black";
  color: $title-dark;
}

h3 {
  font-family: "Avenir-Light";
  letter-spacing: 0.5rem;
  color: $title-light;
}

h4 {
  font-family: "Avenir-Book";
  color: $title-dark;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

p {
  font-family: "HelveticaNeue-Light";
  letter-spacing: 0.1rem;
  font-size: 16px;
  line-height: 2rem;
  color: $paragraph-dark;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  font-family: "HelveticaNeue";
  margin: 0 1.5rem;
  text-transform: uppercase;
}

blockquote {
  text-align: justify;
  font-family: "HelveticaNeue-LightItalic";
}

a {
  outline: none;
  text-decoration: none;
  color: $paragraph-dark;
  transition: text-shadow 0.1s ease-in;
}

img::selection {
  background: lightgray;
}

::selection {
  color: $text-light;
  background: $paragraph-dark;
}

a:hover {
  text-decoration: none;
  color: black;
  text-shadow: 0 0 0.01px black;
}

button {
 padding: 10px;
 margin: 0rem 2rem;
 border: none;
 font: inherit;
 color: inherit;
 background-color: white;
 cursor: pointer;
}